#body{
    margin-top: 40px;
    margin-left: 60px;
    margin-bottom: 40px;
    margin-right: 80px;
}
.header{
    margin: 90px;
}
#top-content{
    font-size: 40px;
}

nav{
    display: flex;
    justify-content: right;
}
nav a{
    text-decoration: none;
    text-align: right;
    color: black;
    margin-right: 25px;
    font-size: 25px;
    font-weight: bold;
}
.fast-item{
    display: flex;
    grid-template: 50% 50%;
    margin: 90px;
    flex-wrap: wrap;
}
.fast-item h1{
    font-size: 70px;
}
.fast-item p{
font-size: 20px;
}
.font{
    width: 50%;
}
#camara-photo{
    background-image: url(download.jpg);
}
.image:hover{
    transform: scale(1.3);
    transition:  .3s ease-in-out;
}
.button{
    background-color: rgb(224, 30, 127);
    padding: 10px 30px;
    border-radius: 15px;
    font-weight: 900;
    font-size: 22px;
    color: white;
    overflow: hidden;
    
}
#buton:hover{
    transform: scale(1.1);
    transition:  .3s ease-in-out;
    font-size: 23px;
}
#pc{
    text-align: center;
    font-size: 40px;
}
.grid-container{
    margin:30px 150px 60px 150px  ;
    margin-left: 100px;
    margin-right: 100px;
    
    
}
.grid-cell{
    border: white 10px solid;
    box-shadow:10px 10px 10px 10px rgb(148, 147, 147);
    justify-content: center;
   margin: 10px 10px 10px 10px;
   padding: 20px;
   width: 300px;
   border-radius: 10px;
   background-color: rgb(255, 255, 255);


}
#photo:hover{
    transform: scale(1.1);
    transition:  .3s ease-in-out;
}
.star{
    color: gold;
}
#see-more{
   font-size: 25px;
   color: palevioletred;
    text-align: right;
    overflow: hidden;
}
#see-more:hover{
    transform: scale(1.1);
    transition:  .3s ease-in-out;
    font-size: 25.5px;
}
h3{
    font-size: 25px;
}
h4{
   font-size: 30px;
}
small{
    font-size: 20px;
}
footer{  text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
    margin:0;
}

